:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097A7;
    --gris: #757575;
}
html {
    font-size: 62.5%;
}
body{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}
.titulo {
    text-align: center;
    font-size: 3.8rem;
}
.titulo span {
    font-size: 2rem;
}
.contenedor {
    width: 120rem;
    margin: 0 auto 0 auto;
}
.nav_bg{
    background-color: var(--secundario);
}
.navegacion_principal {
    padding: 1rem;
}
.navegacion_principal a {
    background-color: var(--primario);
    color: var(--blanco);
    text-decoration: none;
}